body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.main-div {
  display: flex;
  gap: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.card {
  background-color: white;
  width: 200px;
  height: 350px;
  border-radius: 12px;
  box-shadow: 10px 10px 10px black;
  text-align: center;
}

.card img {
  width: 100%;
  height: 150px;
}

.card h3 {
  color:blue;
  margin: 5px;
  text-align: left;
}

.card p {
  font-size: 14px;
  color:black;
}
button{
    display: flex;
    border-radius: 10px;
    margin: 5px;
    color: lightblue;
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
}
button:hover{
    background-color: blue;
}