@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');



body {
    margin: 0;
    padding: 0;
    background-color: hsl(216, 12%, 8%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Overpass";
}

.card {
    background-color: hsl(213, 19%, 18%);
    color: white;
    padding: 30px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 10px 20px black
}

.star-circle {
    background-color: hsl(216, 12%, 24%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.star-circle img {
    width: 16px;
    height: 16px;
}

.card h2 {
    font-size: 20px;
    margin: 0 0 15px;
}

.card p {
    font-size: 13px;
    color: hsl(217, 12%, 63%);
    margin-bottom: 25px;
}

.rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.rating button {
    background-color: hsl(216, 12%, 24%);
    border: none;
    color: hsl(217, 12%, 63%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3;
}

.rating button:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.submit-btn {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 20px;
    background-color: hsl(25, 97%, 53%);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}