.mainpic{
    border: 1px solid black;
    width: 170px;
    border-radius: 15px;
}
.small{
    font-size: 13px;
}
button{
    border-radius: 10px;
    color: blue;
    width: 100px;
    height: 30px;
    margin: 25px;
    background-color: rgb(127, 189, 255);
}
p{
    color: gray;
}
img{
    width: 170px;
}